<!-- Modal -->
<div class="modal fade" id="deleteModal" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="height: 50px;" class="modal-header bg-warning">
                <div align="left">
                    <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
                        class="modal-title fs-4 m-2" id="deleteTitle">Confirmation Request</h2>
                </div>
            </div>
            <div align="center" class="modal-body">
                <span style="font-size: larger; font-style: oblique;">Do you want to delete this record?</span>
            </div>
            <div class="modal-footer bg-warning justify-content-right">
                <button (click)="onConfirm(true)" type="button" class="btn btn-primary m-1"
                    data-bs-dismiss="modal">Yes</button>
                <button (click)="onConfirm(false)" type="button" class="btn btn-secondary m-1"
                    data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>