<div class="m-3">
    <h2>Tabs Test</h2>
    <p class="m-1">{{testMessage}}</p>
    <ul name="testTabList" class="nav nav-tabs">
        <li (click)="selectTab('Dashboard')" class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab">Dashboard</a>
        </li>
        <li (click)="selectTab('Forms')" class="nav-item">
            <!-- <span class="nav-header">User</span> -->
            <a class="nav-link" data-bs-toggle="tab">Forms</a>
        </li>
        <li (click)="selectTab('Dialog')" class="nav-item">
            <a class="nav-link" data-bs-toggle="tab">Dialogs</a>
        </li>
        <li (click)="selectTab('Grid')" class="nav-item">
            <a class="nav-link" data-bs-toggle="tab">Grid</a>
        </li>
    </ul>
</div>
<div>
    <div>
        @switch (currentTab) {

        @case ("Dashboard") {
        <button type="button" class="btn btn-success m-3">Click Me</button>
        }
        @case ("Forms") {
        <app-reactive-form [testMessageReactiveForm]="testFormMessageX2"></app-reactive-form>
        }
        @case ("Dialog") {
        <div id="dialogDropdown" class="dropdown m-3">
            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">{{dialogDemoSelectLabel}}</button>
            <ul class="dropdown-menu">
                <li><button (click)="selectDialogDemo('Delete Dialog')" class="dropdown-item" type="button">Delete
                        Dialog</button></li>
                <li><button (click)="selectDialogDemo('Parent-Child Dialog')" class="dropdown-item"
                        type="button">Parent-Child
                        Dialog</button></li>
            </ul>
        </div>

        @switch (dialogDemoSelectLabel) {
        <!-- Dialog Demo Options -->
        @case ("Delete Dialog") {
        <div>
            <h3 class="m-2">Delete Dialog</h3>
            <div class="m-2" name="useDataEmitter">
                <button type="button" class="btn btn-danger m-3" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Delete
                </button>
                <app-delete-confirm (deleteConfirmValue)="receiveDeleteInfo($event)" #deleteModal></app-delete-confirm>
                <p class="m-3">Result: {{deleteMessage}}</p>
            </div>
        </div>
        }
        @case ("Parent-Child Dialog") {
        <h3 class="m-2">Parent-Child Dialog</h3>
        <div style="margin-left: 10px; margin-top: 15px;" name="useDataService">
            <div>
                <input #testInput (keypress)="onKeyPress($event)" [(ngModel)]="parentMessage" style="margin-right: 5px;"
                    class="mb-0" type="text">
                <button #testButton (click)="updateParentMessage()" type="button" class="btn btn-primary mb-1"
                    data-bs-toggle="modal" data-bs-target="#testConfirmModal">
                    Submit
                </button>
            </div>
            <app-test-confirm [childMessage]="parentMessage" #testConfirmModal></app-test-confirm>
        </div>
        }
        @default {
        <p class="m-3">No results!</p>
        }
        <!-- Dialog Selection -->
        }
        <!-- Dialog Demo Content -->
        }
        @case ("Grid") {
        <div align="center">
            <!-- <h3 id="test-container-title" class="m-3">Container</h3> -->
        </div>
        <app-test-parent></app-test-parent>
        }
        <!-- Tab Selection -->
        }
    </div>
</div>