.my-title {
    background-color: teal;
    color: wheat;
    border: 1px solid wheat;
    border-radius: 6px;
    padding: 6px;
}

.my-card-title {
    background-color: green;
    color: wheat;
    border: 1px solid wheat;
    border-radius: 6px;
    padding: 6px;
}

.my-card-body {
    background-color: silver;
    color: teal;
    border: 1px solid purple;
    padding: 3px;
    border-radius: 6px;
}