<div class="container">
    <div class="row m-5 bg-info rounded">
        <div class="col-2 m-1">
            <select [(ngModel)]="defaultValue" class="form-select" aria-label="Default select example">
                <option value="One">One</option>
                <option value="Two">Two</option>
                <option value="Three">Three</option>
            </select>
        </div>
        <div class="col-2 m-1">
            <div class="m-1">
                <span style="vertical-align: middle;">Selected : {{defaultValue}}</span>
            </div>
        </div>
    </div>

    <div class="row m-5">
        <div class="col-2 m-1">
            @switch (defaultValue) {
            @case ("1") {
            <button class="rounded m-2" [ngStyle]="optionStyle1">Chartreuse</button>
            }
            }
        </div>
    </div>
</div>