<!-- <app-user></app-user> -->
<!-- <app-data-binder></app-data-binder> -->
<!-- <app-directive-demo></app-directive-demo> -->
<!-- <app-structural-directive-demo></app-structural-directive-demo> -->
<!-- <app-attribute-directive-demo></app-attribute-directive-demo> -->
<!-- <app-signals></app-signals> -->

<nav class="navbar navbar-expand-lg bg-info-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DemoApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">Test</span>
        </button>
        <div class="collapse navbar-collapse" id="myDemoAppMenu">
            <!-- List of Items on Navbar -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/user" routerLinkActive="active">Temp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="profile"
                        routerLinkActive="active">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="data-binding"
                        routerLinkActive="active">Data Binding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="pipes"
                        routerLinkActive="active">Pipes</a>
                </li>
                <li class="nav-item dropdown">
                    <!-- Dropdown Label -->
                    <a class="nav-link btn btn-warning dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Directives</a>
                    <!-- Dropdown Options -->
                    <ul class="dropdown-menu bg-info-subtle">
                        <li>
                            <a class="dropdown-item" aria-current="page" routerLink="attribute-directive"
                                routerLinkActive="active">Attribute
                                Directive</a>
                        </li>
                        <li>
                            <a class="dropdown-item" aria-current="page" [routerLink]="'structural-directive'"
                                routerLinkActive="active">Structural
                                Directive</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!-- Dropdown Label -->
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        data-bs-auto-close="true" aria-expanded="false">Forms</a>
                    <!-- Dropdown Options -->
                    <ul class="dropdown-menu bg-info-subtle">
                        <li><a class="dropdown-item" aria-current="page" routerLink="simple-form"
                                routerLinkActive="active">Simple Form</a>
                        </li>
                        <li><a class="dropdown-item" aria-current="true" routerLink="reactive-form"
                                routerLinkActive="active">Reactive
                                Form</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <!-- Dropdown Label -->
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        data-bs-auto-close="true" aria-expanded="false">CRUD API</a>
                    <!-- Dropdown Options -->
                    <ul class="dropdown-menu bg-info-subtle">
                        <li><a class="dropdown-item" aria-current="true" routerLink="crud"
                                routerLinkActive="active">CRUD Demo</a>
                        </li>
                        <li><a class="dropdown-item" aria-current="true" routerLink="resource-api"
                                routerLinkActive="active">Resource API </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Test
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="test">A: Experimental</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="my-link">My Link</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>