<div align="center">
    <h3 class="m-3">One Way Data Binder</h3>
    <div>
        <p>1. Interpolation: embedded data as content within the element</p>
        <p><u>{{name}}</u>: {{title}}</p>
    </div>
    <div>
        <p>2. Property binding: embedded data as properties within the element</p>
        <div style="height: 120px; width: 120px; border: 1px solid forestgreen;">
            <img style="object-fit: contain; height: 100%; width: 100%;" [src]="image_path">
        </div>
    </div>
    <div>
        <p>3. Event binding: interactive element binds to an function</p>
        <input #targetInput type="text" [id]="id" placeholder="My Text">
        <button class="m-1" (click)="onPlay(targetInput.value)">Play</button>
        <div>
            <p></p>
            <!-- ($event) == event object -->
            <select #targetSelect name="countries" id="targetDropdown" (change)="onChange($event)">
                <option value="United States">United States</option>
                <option value="France">France</option>
                <option value="China">China</option>
            </select>
            <button class="m-1" (click)="onSubmit(targetSelect.value)">Submit</button>
        </div>
    </div>
    <h3 class="m-3">Two Ways Data Binder</h3>
    <div>
        <!-- [(ngModel)] synchronizes any change between client and component variable -->
        <input type="text" placeholder="Change Me" [(ngModel)]="randomText"> => {{randomText}}
    </div>
</div>