<div class="m-3">
    @if (isUserAdmin) {
    <strong style="color: red;">Access Level : Administrator</strong>
    }
    <!-- Unsorted List -->
    <ul>
        <li>ID : {{userProfile.id}}</li>
        <li>Name : {{userProfile.name}}</li>
        <li>Username : {{userProfile.username}}</li>
        <li>Email : {{userProfile.email}}</li>
    </ul>
</div>

<!-- <div class="dropdown m-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">Dropdown</button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div> -->

<div align="center" class="m-3">
    <h3
        style="background-color: aquamarine; display: inline-block; border-radius: 5px; color: forestgreen; padding: 5px;">
        Data from API</h3>
    <table class="table table-bordered">
        <thead>
            <tr id="targetHeaderRow">
                <th>User ID</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            @for (user of usersResponseDemoAPI; track user) {
            <tr id="dataValueRow">
                <!-- Table Data -->
                <td>{{user.id}}</td>
                <td>{{user.name }}</td>
                <td>{{user.email}}</td>
                <td>{{user.company.name}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>