<div class="m-3">
    <h2 class="text-primary m-3">Pipe on String type</h2>
    <h4>Upper Case Pipe : {{ngPipeDef | uppercase}}</h4>
    <h4>Lower Case Pipe : {{ngPipeDef | lowercase}}</h4>
    <h4>Title Case Pipe : {{ngPipeDef | titlecase}}</h4>
    <h4>Slice Pipe (5:25): {{ngPipeDef | slice:5:25}}</h4>
    <h4>Slice Pipe (5): {{ngPipeDef | slice:5}}</h4>
    <h4>Slice Pipe (5:-9): {{ngPipeDef | slice:5:-9}}</h4>
    <h4>Slice Pipe (-9): {{ngPipeDef | slice:-9}}</h4>
    <h4>Slice Pipe - Number Array (2): {{[1, 2, 3, 5, 9] | slice:2}}</h4>

</div>