.my-title {
    background-color: hotpink;
    color: indigo;
    border: 1px solid indigo;
    border-radius: 6px;
    padding: 6px;
}

.my-body {
    background-color: silver;
    color: teal;
    border: 1px solid purple;
    padding: 3px;
    border-radius: 6px;
}